<h1>Worklog#edit</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Editing worklog</h1>

<%= render 'form' %>

<%= link_to 'Show', @worklog %> |
<%= link_to 'Back', worklogs_path %>
